.entrance {
    height: 100vh;
    width: 100wh;

    background: url("../img/black50.png");
    background-position: center;
    background-size: cover;

    color: white;
    font-family: "GongGothicLight";
    text-align: center;
}

.jumbotron {
    /* text-align: center; */
    align-items: center;
}

.hello {
    margin: 0px;
    padding: 60px;
    font-size: 80px;
}

.info1 {
    font-size: 45px;
}

.info1 p {
    display: block;
    margin: 30px;
}

.info2 {
    font-size: 30px;
}

.info2 p {
    display: block;
    margin: 20px;
}

.btn {
    font-family: 'GongGothicLight';
    font-size: 30px;
    font-weight: 200;
    color: white;

    background-color: black;
    border: solid 3.5px #ffd700;

    padding: 25px;
    margin: 30px 20px;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}